body{
    font-family: 'Special Elite', cursive;
    /*color: grey;*/
    text-align: center;
    background-image: url("../media/bg.bmp");
    background-position: top;
    background-size: 110%;

    background-repeat: no-repeat;

}



h2{
    padding-top: 15px;
    color: white;
    font-size: 20px;
}


button a{
    text-decoration: none;
    color: black;
}

img{
    width: 12%;
    height: 12%;
}


button{
    background-color: white;
}

#map {
    height: 55vh;
    width: 100%;
}

